:root {
    --green-color: rgb(128, 187, 53);
    --white-color: rgb(255, 255, 255);
    --hurry-color: rgb(254, 151, 5);
    --black-color: rgb(0, 0, 0);
    --input-text-color: #fff;
    --input-bg-color: rgb(255, 255, 255);
    --focus-input-bg-color: transparent;
    --text-color: rgb(128, 187, 53);
    --active-color: rgb(59, 101, 3);
    --width-of-input: 230px;
    --height-of-input: 30px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
    --text: #333;
}


* {
    box-sizing: inherit;
    margin: 0;

}

html {
    /* font-size:62.5%; */
    /* line-height: 1.6rem; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    ;
    box-sizing: border-box;
}

.content_trangsanpham {
    display: none;
}

.content_trangchu {
    display: none;
}

.content_trangtintuc {
    display: none;
}

.content_hethongcuahang {
    display: none;
}

.content_chinhsachgiaohang {
    display: none;
}

.content_chinhsachdoitra {
    display: none;
}

.product_description {
    display: none;
}

.page_cart_product {
    display: none;
}

.product_pay {
    display: none;
}

@keyframes fadein {
    0% {
        top: 90px;
        opacity: 0;
    }

    100% {
        top: 36px;
        opacity: 1;
    }
}

@keyframes Animenu {
    0% {
        opacity: 0;
        top: 90px;
    }

    100% {
        opacity: 1;
        top: 51px;

    }
}

@keyframes identifier {
    0% {
        opacity: 0;
        top: 420px;
    }

    100% {
        opacity: 1;
        top: 357px;

    }
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.text_bold {
    font-weight: 600;
}

.distance {
    margin-right: 20px;
}

/* con tro */
.gesture {
    cursor: pointer;
}

.flex {
    display: flex;
}

.a-center {
    text-align: center !important;
}

.b-center {
    justify-content: center;
}

.c_space-between {
    justify-content: space-between;
}

.hover:hover {
    color: var(--green-color);
}

.text_greencolor {
    color: var(--green-color);

}

.hover-b:hover {
    color: var(--hurry-color);
}

.item-tab-right {
    margin-right: 0;
}

.item-tab-left {
    margin-left: 0;
}

.margin_top {
    margin-top: 30px;
}

.boder_nav_left {
    border-radius: 15px;
    border: 1px solid #e7e5e5;

}

.action {
    display: block;
}

.action1 {
    display: block;
}

.Promotion {
    background-color: var(--hurry-color);
    width: 60px;
    position: absolute;
    top: 8%;
}

.Promotion p {
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
}

.note {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}

.display-none {
    display: none;
}